    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        height: 100%;
        overflow: hidden;
    }
    
    :root {
        background-color: #2e2e2e;
        font-size: 62.5%;
    }

    body {
        min-height: 100%;
        line-height: 1;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1{
        font-size: 5.4rem;
        margin-bottom: 5rem;
    }

    h2 {
        margin: 50px;
        font-size: 3rem;
    }

    a {
        text-decoration: none;
        color: #c2c2c2;
    }

    ul {
        list-style: none;
    }

    .index-cont {
        color: #c2c2c2;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
        padding: 2rem;
    }

    .index-cont > * {
        width: 100%; 
        text-align: center;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .flex-center {
        justify-content: center;
        align-items: center;
    }

    .justify-center {
        justify-content: center;
    }
    .btn-anch {
        padding: 1.5rem;
        border: .6rem solid grey;
        background-color: #1d1d1d;
        font-size: 2rem;
        color: #c2c2c2;
        border-radius: 1rem;
        transition: .3s;
    }

    .btn:hover {
        box-shadow: 0px 0px 10px 3px  red;
        cursor: pointer;
    }

    .btn-marg {
        margin: 1rem;
        width: 175px;
    }

    .play-cont {
        color: #c2c2c2;
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
        padding: 2rem;
    }
    .display-style {
        text-align: center;
        max-width: min-content;
        font-size: 3rem;
        margin: 50px;
        border: .6rem solid grey;
        background-color: #1d1d1d;
        color: #c2c2c2;
        border-radius: 50%;
        padding: 3rem;
    }

    li {
        margin: 1.5rem;
    }

    .left {
        position: absolute;
    }

    .right {
        float: inline-end;
    }

    .init-input {
        
    }

    .scores {
        font-size: 2rem;
        margin: 2rem;
    }

    @media screen and (min-width: 964px) {
        .play-cont{
            height: 90vh;
        }
        
    }

    @media screen and (min-width: 1280px) {
        .play-cont{
            height: 100vh;
        }
        
    }